{% extends "inventory/transactions.html" %}
{% load i18n %}
{% block heading %}{% trans 'Accounting Transactions' %} {% endblock%}
{% block moreactions %}
    {% if perms.inventory.add_cashclosing %}<div class="actiontab" ><a onclick="newTransaction('/inventory/transactions/close/');return false;" href="#" class="action">{% trans 'Closing' %}</a></div>{% endif %}
    {% if perms.inventory.add_expense %}<div class="actiontab" ><a onclick="newTransaction('/inventory/expense/new/');return false;" href="#" class="action">{% trans 'Expense' %}</a></div>{% endif %}
    {% if perms.inventory.add_equity %}<div class="actiontab" ><a onclick="newTransaction('/inventory/equity/new/');return false;" href="#" class="action">{% trans 'Equity' %}</a></div>{% endif %}
    {% if perms.inventory.add_employeepay %}<div class="actiontab" ><a onclick="newTransaction('/inventory/employeepay/new/');return false;" href="#" class="action">{% trans 'Pay Empl.' %}</a></div>{% endif %}
    {% if perms.inventory.add_work %}<div class="actiontab" ><a onclick="newTransaction('/inventory/work/new/');return false;" href="#" class="action">{% trans 'Work' %}</a></div>{% endif %}
    {% if perms.inventory.view_sale %}<div class="actiontab" ><a href="/inventory/sales/?{% if q %}q={{q}}&{% endif %}{% if start %}start={{start}}&{% endif %}{% if end %}end={{end}}{% endif %}" class="action">{% trans 'Sales' %}</a></div>{% endif %}
    {% if perms.inventory.view_purchase %}<div class="actiontab" ><a href="/inventory/purchases/?{% if q %}q={{q}}&{% endif %}{% if start %}start={{start}}&{% endif %}{% if end %}end={{end}}{% endif %}" class="action">{% trans 'Purchases' %}</a></div>{% endif %}
    {% if perms.inventory.view_count %}<div class="actiontab" ><a href="/inventory/counts/?{% if q %}q={{q}}&{% endif %}{% if start %}start={{start}}&{% endif %}{% if end %}end={{end}}{% endif %}" class="action">{% trans 'Counts' %}</a></div>{% endif %}
    {% if perms.inventory.view_transfer %}<div class="actiontab" ><a href="/inventory/transfers/?{% if q %}q={{q}}&{% endif %}{% if start %}start={{start}}&{% endif %}{% if end %}end={{end}}{% endif %}" class="action">{% trans 'Transfers' %}</a></div>{% endif %}
    <div id="employeepay-form" title="{% trans 'Create Employee Payment' %}">
	    <form>
		    {% trans 'Doc Number' %}: <input id="doc_number" value="{{q}}" type="text"> <a href="#" onclick="$(this).prev().val('');return false;"><img id="next_doc_number" src="{{MEDIA_URL}}/img/clear.png"/></a><a href="/manual/sales/#creating-a-sale"><img src="{{MEDIA_URL}}/img/help.png"/></a><br>
		    {% trans 'Employee' %}: <input id="employee" value="{{page.object_list.1.employee}}" type="text"><br>
	    </form>
    </div>
    <script>
        $(document).ready(function(){
            $("#employeepay-form").dialog({
			    autoOpen: false,
			    height: 250,
			    width: 250,
			    position:['right','bottom'],
			    modal: false,
			    buttons: {
				    Close: function() {
					    $(this).dialog('close');
				    },
			        'Create': function() {
			            newTransaction('/inventory/employeepay/new/');
			        }
			    },
		    });
            $('#employeepay-form #account').autocomplete('/inventory/employee_list/', {matchSubset:0, autoFill:1,});
        });
    </script>
{% endblock%}
