{% load i18n %}
<tr><td>
    <div id=account-{{form.instance.pk}} class="account{% if form.instance.pk %}{% else %} new{% endif %} ">
        <input id="last_id" type="hidden" value="{{form.instance.pk}}">
        <div class="three-column">
            <p>{% trans 'Name'%}: {{form.name}}</p>
            <p>{% trans 'Account number'%}: {{form.number}} <a href="/manual/accounts/#number"><img src="{{MEDIA_URL}}/img/help.png"/></a></p>
            <p>{% trans 'Multiplier'%}: {{form.multiplier}} <a href="/manual/accounts/#multiplier"><img src="{{MEDIA_URL}}/img/help.png"/></a></p>
            {% if tipo != 'account' %}            
                <p>{% trans 'Account Group'%}: {{form.account_group}} <a href="/manual/accounts/#accountgroup"><img src="{{MEDIA_URL}}/img/help.png"/></a></p>
                <p>{% trans 'Tax Number'%}: {{form.tax_number}}</p>
                <p>{% trans 'Price Group'%}: {{form.price_group}} <a href="/manual/accounts/#pricegroup"><img src="{{MEDIA_URL}}/img/help.png"/></a></p>
                <p>{% trans 'Registration'%}: {{form.registration}}</p>
            {% endif %}
        </div>
        <div class="three-column">
            {% if tipo != 'account' %}
                <p>{% trans 'Description '%}: {{form.description}}</p>
                <p>{% trans 'Home phone'%}: {{form.home_phone}}</p>
                <p>{% trans 'Cell phone'%}: {{form.cell_phone}}</p>
                <p>{% trans 'Work phone'%}: {{form.work_phone}}</p>
                <p>{% trans 'Fax'%}: {{form.fax}}</p>
                <p>{% trans 'Email'%}: {{form.email}}</p>
            {% endif %}
        </div>
        <div class="three-column">
            {% if tipo != 'account' %}   
                <p>{% trans 'Receipt'%}: {{form.receipt}} <a href="/manual/accounts/#receipt"><img src="{{MEDIA_URL}}/img/help.png"/></a></p>
                <p>{% trans 'Address'%}: {{form.address}}</p>
                <p>{% trans 'State'%}: {{form.state_name}}</p>
                <p>{% trans 'Country'%}: {{form.country}}</p>
                <p>{% trans 'Credit Period (days)'%}: {{form.credit_days}} <a href="/manual/accounts/#creditdays"><img src="{{MEDIA_URL}}/img/help.png"/></a></p>
            {% endif %}
            <p><b>{% trans 'Balance' %}: ${{object.balance|default:0.00|floatformat:2}}</b> <a href="/manual/accounts/#balance"><img src="{{MEDIA_URL}}/img/help.png"/></a></p>
            {% if tipo != 'account' %}   
                <p>{% trans 'User' %}: {{form.user}} <a href="/manual/counts/#why"><img src="{{MEDIA_URL}}/img/help.png"/></a></p>
            {% endif %}
        </div>            
        <div class="clear-contentunit"></div>
        <a href="#" onclick="save_account({{form.instance.pk|default:"''"}},'/inventory/{{prefix.lower}}/{{form.instance.pk|default:''}}/'); return false;">{% trans 'Save' %}</a>
    </div>
</tr></td>
