{% extends "inventory/account_list.html" %}
{% load i18n %}

{% block heading %}{% trans 'Accounts' %}{% endblock%}
{% block search_url %}/inventory/accounts/{% endblock %}
{% block actions %}
    {% if perms.inventory.change_sale %}
        <div class="actiontab" ><a href="/inventory/account/" class="action">{% trans 'New' %}</a><br></div>
    {% endif %}
    {% if perms.inventory.view_client %}
        <div class="actiontab" ><a href="/inventory/clients/" class="action">{% trans 'Clients' %}</a><br></div>
    {% endif %}
    {% if perms.inventory.view_vendor %}
        <div class="actiontab" ><a href="/inventory/vendors/" class="action">{% trans 'Vendors' %}</a><br></div>
    {% endif %}
{% endblock%}
