
{% extends "inventory/transaction_base.html" %}
{% load i18n %}
{% block other_fields_edit %}
    <td/>
    <td><input id="id_transaction-{{ object.pk }}-item" title="{% trans 'Name of item counted' %}" class="field item lookup" value="{{object.subclass.item|default:''}}" type="text"></td>
    <td><input id="id_transaction-{{ object.pk }}-quantity" title="{% trans 'Quantity of item found' %}" class="field quantity inventory-details" value="{{object.subclass.count|floatformat:-2}}" type="text"></td>
    <td><input id="id_transaction-{{ object.pk }}-serial" title="{% trans 'Serial number found (if applicable)' %}" class="field serial inventory-details" value="{{object.subclass.serial|default:''}}" type="text"></td>
    <td><input id="id_transaction-{{ object.pk }}-value" class="field money" value="{{object.subclass.unit_cost|floatformat:2}}" type="text"></td>
{% endblock %}
{% block other_actions_edit %}
    <a style="display:none;" class="show" id="id_transaction-{{object.pk}}-post" title="{% trans 'Post Count' %}" href="#" onclick="postCount({{object.pk}}); return false;"><img src="{{MEDIA_URL}}/img/post.png"/></a>
    <a style="display:none;" class="show" id="id_transaction-{{object.pk}}-print" title="{% trans 'Print Count' %}" href="{{object.subclass.print_url}}" ><img src="{{MEDIA_URL}}/img/pdf.png"/></a>
{% endblock %}
{% block other_fields_show %}
    <td/>
    <td id="id_transaction-{{object.pk}}-item"  title="{% trans 'Name of item counted' %}"   value="{{object.subclass.item|default:''}}"    class="field item lookup" class="inventory-details">{% if object.subclass.item %}<a href="{{object.subclass.item.url}}">{% endif %}{{object.subclass.item|default:''}}</a></td>
    <td id="id_transaction-{{object.pk}}-quantity" title="{% trans 'Adjustment applied (Quantity counted)' %}"  value="{{object.subclass.count|floatformat:-2}}" class="field quantity inventory-details"> {{object.subclass.quantity|floatformat:-2}} {% if object.subclass.count %}({{object.subclass.count|floatformat:-2}}){% endif %}</td>
    <td id="id_transaction-{{object.pk}}-serial" title="{% trans 'Serial number found (if applicable)' %}"    value="{{object.subclass.serial|default:''}}"  class="field serial inventory-details">{% if object.subclass.serial %}<a href="/inventory/serial/{{object.subclass.serial}}/">{{object.subclass.serial}}</a>{% endif %}</td>
    <td id="id_transaction-{{object.pk}}-value" title="{% trans 'Cost of adjustment applied (Value per unit)' %}" value="{{object.subclass.unit_cost|floatformat:2}}"  class="field money">    ${{object.value|default:0|floatformat:2}} (${{object.subclass.unit_cost|floatformat:2}} {% trans 'ea.' %})</td>
{% endblock %}
{% block other_actions_show %}
    {% if object.subclass.delivered %}
        <a class="show" id="id_transaction-{{object.pk}}-undeliver" title="{% trans 'Mark as NOT Delivered' %}" href="#" onclick="markTransaction('/inventory/transaction/{{object.pk}}/undeliver/'); return false;"><img src="{{MEDIA_URL}}/img/delivered.png"/></a>
    {% else %}
        <a class="show" id="id_transaction-{{object.pk}}-deliver" title="{% trans 'Mark as Delivered' %}" href="#" onclick="markTransaction('/inventory/transaction/{{object.pk}}/deliver/'); return false;"><img src="{{MEDIA_URL}}/img/undelivered.png"/></a>
    {% endif %}
    <a class="show" id="id_transaction-{{object.pk}}-post" title="{% trans 'Post Count' %}" href="#" onclick="postCount({{object.pk}}); return false;"><img src="{{MEDIA_URL}}/img/post.png"/></a>
    {% if perms.inventory.post_count_sale %}
        <a class="show" id="id_transaction-{{object.pk}}-post_count_sale" title="{% trans 'Post Count as Sale' %}" href="#" onclick="getTransaction({{object.pk}},'/inventory/count/{{object.pk}}/post-as-sale/'); return false;"><img src="{{MEDIA_URL}}/img/post_count_sale.png"/></a>
    {% endif %}
{% endblock %}

