{% load i18n %}
{% load tags %}
<table>
    <thead><tr><th>{% trans 'Date' %}</th><th>{% trans 'Doc Number' %}</th><th>{% trans 'Type' %}</th><th>{% trans 'Account' %}</th><th>{% trans 'Value' %}</th><th>{% trans 'Item' %}</th><th>{% trans 'Quantity' %}</th><th>{% trans 'Serial' %}</th><th/></tr></thead>
    <tbody>
        {% for entry in entry_page.object_list %}
            <tr>
                <td>{{ entry.date|date:date_format }}</td>
                <td>{% link entry.transaction %}</td>
                <td>{{ entry.transaction.tipo }}</td>
                <td>{% link entry.account %}</td>
                <td>${{entry.value|floatformat:2}}</td>
                <td>{{entry.item}}</td>
                <td>{{entry.quantity|floatformat:-2}}</td>
                <td>{% if entry.serial %}<a href="/inventory/serial/{{entry.serial}}/">{{entry.serial}}</a>{% endif %}</td>
                <td>
                    {% if entry.transaction.subclass.active %}
                        <img title="{% trans 'Click on document number to deactivate this entry' %}" src="{{MEDIA_URL}}/img/on.png"/>
                    {% else %}
                        <img title="{% trans 'Click on document number to activate this entry' %}" src="{{MEDIA_URL}}/img/off.png"/>
                    {% endif %}
                    {% if entry.transaction.subclass.delivered %}
                        <img title="{% trans 'Click on document number to mark this entry undelivered' %}" src="{{MEDIA_URL}}/img/delivered.png"/>
                    {% else %}
                        <img title="{% trans 'Click on document number to mark this entry delivered' %}" src="{{MEDIA_URL}}/img/undelivered.png"/>
                    {% endif %}
                </td>
            </tr>
            
        {% endfor %}
    </tbody>
</table>
