{% load i18n %}
{% load tags %}
<tr>
    <td>{{ object.date|date:"m/d/Y" }}</td>
    <td>{% link object.transaction %}</td>
    <td>{{ object.transaction.tipo }}</td>
    <td>{% link object.account %}</td>
    <td>{{object.value}}</td>
    <td>{% if object.item %}<a href="{{object.item.url}}">{{object.item}}</a>{% endif %}</td>
    <td>{{object.quantity|floatformat:-2}}</td>
    <td>{{object.serial}}</td>
    <td>
        {% if object.transaction.subclass.active %}
            <img title="{% trans 'Click on document number to deactivate this entry' %}" src="/media/img/on.png"/>
        {% else %}
            <img title="{% trans 'Click on document number to activate this entry' %}" src="/media/img/off.png"/>
        {% endif %}
        {% if object.transaction.subclass.delivered %}
            <img title="{% trans 'Click on document number to mark this entry undelivered' %}" src="/media/img/delivered.png"/>
        {% else %}
            <img title="{% trans 'Click on document number to mark this entry delivered' %}" src="/media/img/undelivered.png"/>
        {% endif %}
    </td>
</tr>
