{% load i18n %}
{% if object.edit_mode %}
    <td><input id="id_transaction-{{ object.pk }}-item" title="{% trans 'Name of item' %}" class="field item lookup" value="{{object.subclass.item|default:''}}" type="text"></td>
    <td><input id="id_transaction-{{ object.pk }}-quantity" title="{% trans 'Quantity of item' %}" class="field quantity inventory-details" value="{{object.subclass.quantity|floatformat:-2}}" type="text"></td>
    <td><input id="id_transaction-{{ object.pk }}-serial" title="{% trans 'Serial number of item (if applicable)' %}" class="field serial inventory-details" value="{{object.subclass.serial|default:''}}" type="text"></td>
{% else %}
    <td id="id_transaction-{{ object.pk }}-item"   title="{% trans 'Name of item' %}"          value="{{object.subclass.item|default:''}}"                        class="field item lookup" class="inventory-details" label="">{% if object.subclass.item %}<a href="{{object.subclass.item.url}}">{{object.subclass.item}}</a>{% endif %}</td>
    <td id="id_transaction-{{object.pk}}-quantity" title="{% trans 'Quantity of item' %}"          value="{{object.subclass.quantity|floatformat:-2}}"     class="field quantity inventory-details" label=""> {{object.subclass.quantity|floatformat:-2}}</td>
    <td id="id_transaction-{{object.pk}}-serial"   title="{% trans 'Serial number of item (if applicable)' %}"          value="{{object.subclass.serial|default:''}}"                      class="field serial inventory-details" label="">{% if object.subclass.serial %}<a href="/inventory/serial/{{object.subclass.serial}}/">{{object.subclass.serial}}</a>{% endif %}</td>
{% endif %}
