{% load i18n %}
<tr><td>
<div id=item-{{form.instance.pk}} class="item{% if form.instance.pk %}{% else %} new{% endif %}">
    <form id="item_form" method="post" action="/inventory/item/{{object.pk}}{% if object.pk %}/{% endif %}">
        <input id="my_pk" type="hidden" value="{{object.pk}}">
        <div class="three-column">
            <p>{% trans 'Name' %}: {{form.name}}</p>
            <p>{% trans 'Location' %}: {{form.location}}</p>
        </div>
        <div class="three-column">
            <p>{% trans 'Unit' %}: {{form.unit}}</p>
            <p>{% trans 'Bar Code' %}: {{form.bar_code}}</p>
            <p><img class="barcode" src={{object.barcode_url}}></p>
        </div>
        <div class="three-column">
            <p>{% trans 'Minimum' %}: {{form.minimum}}</p>
            <p>{% trans 'Maximum' %}: {{form.maximum}}</p>
            <p><b>{% trans 'Stock' %}: {{form.instance.stock|floatformat:-2}}</b></p>
        </div>
        <hr class="clear-contentunit" />
        {{form.description.label}}:<br>{{form.description}}
        <div class="item_image_area">
            {% if form.instance.pk %}
                <a href="{% if object.image %}{{object.image.url}}{% endif %}" id="item_image">
                    <img src="{% if object.image %}{{object.image.url_150x150}}{% endif %}">
                </a>
                <input type="file" id="id_image" name="image">
                <a href="#" onclick="ajaxFileUpload();return false;" id="buttonUpload">{% trans 'Upload' %}</a>
            {% endif %}
        </div>
    </form>
    <hr class="clear-contentunit" />
    <a href="#" onclick="save_item({{form.instance.id|default:"''"}}); return false;">{% trans 'Save' %}</a>
    {% if form.instance.pk %}
        <div class="item-block" id="prices-block">
            <h2>{% trans 'Prices' %}</h2>
            <input type="hidden" id="last_id" value="">
            <table id="price-table">
                <thead><tr><th>{% trans 'Item' %}</th><th>{% trans 'Group' %}</th>{% if perms.inventory.view_cost %}<th>{% trans 'Cost' %}</th>{% endif %}<th>{% trans 'Unit' %}</th>{% if perms.inventory.view_cost %}<th>{% trans 'Relative' %}</th><th>{% trans 'Fixed' %}</th>{% endif %}<th>{% trans 'Total' %}</th></tr></thead>
                <tbody id="prices">
                    {% for object in form.instance.price_set.all %}
                        {% include "inventory/price.html" %}
                    {% endfor %}
                </tbody>
                <tfoot><tr>{% block table_footer %}{% endblock%}</tr></tfoot>
            </table><hr>
        </div>
        <div class="item-block" id="linkeditems-block">
       <h2>{% trans 'Linked Items' %}</h2>
        <input type="hidden" id="last_id" value="">
        <table id="linked-table">
            <thead><tr><th>{% trans 'Item' %}</th><th>{% trans 'Quantity' %}</th>{% if perms.inventory.view_cost %}<th>{% trans 'Cost' %}</th>{% endif %}<th>{% trans 'Actions' %}</th></tr></thead>
            <tbody id="linkeditems">
                {% for object in form.instance.links %}
                    {% include "inventory/linkeditem.html" %}
                {% endfor %}
            </tbody>
        </table>
        <input type="text" id="new_linkeditem_name" class="field"> <a href="#" onclick="new_linkeditem({{form.instance.id}}); return false;"><img src="/media/img/list-add.png">{% trans 'Add' %}</a>
        </div>
        <div class="item-block" id="garantees-block">
            <h2>Garantees</h2>
            <table>
                <thead><tr><th>{% trans 'Months' %}</th><th>{% trans 'Price' %}</th><th>{% trans 'Actions' %}</th></tr></thead>
                <tbody id="garanteeoffers">
                    {% for object in form.instance.garanteeoffer_set.all %}
                        {% include "inventory/garantee_offer.html" %}
                    {% endfor %}
                </tbody>
            </table>
            <a href="#" onclick="new_garanteeoffer({{form.instance.id}}); return false;"><img src="/media/img/list-add.png">{% trans 'Add' %}</a>
        </div>
    {% endif %}
</div>
</td></tr>
