{% load i18n %}
{% load tags %}
<tr id="linkeditem-{{ object.pk }}" class="price">
    <td>{% link object.item %}</td>
    <td><input type="text" id="id_linkeditem-{{ object.pk }}-quantity" value="{{ object.quantity|floatformat:-2 }}" name="linkeditem-{{ object.pk }}-quantity"></td>
    {% if perms.inventory.view_cost %}
        <td>{{ object.item.cost|floatformat:2 }}</td>
    {% endif %}
    <td><a href="#" onclick="save_linkeditem({{object.pk}}); return false;">{% trans 'Save' %}</a></td>
</tr>
