{% load i18n %}
{% load tags %}
<tr id="price-{{ object.pk }}" class="price">
    <td>{% link object.item %}</td>
    <td>{{ object.group }}</td>
    {% if perms.inventory.view_cost %}
        <td>{{ object.item.cost|floatformat:2 }}</td>
    {% endif %}
    <td>{{ object.item.unit }}</td>
    {% if perms.inventory.view_cost %}
    <td><input type="text" id="id_price-{{ object.pk }}-relative" value="{{ object.relative|floatformat:2 }}" name="price-{{ object.pk }}-relative"></td>
    <td><input type="text" id="id_price-{{ object.pk }}-fixed" value="{{ object.fixed|floatformat:2 }}" name="price-{{ object.pk }}-fixed"></td>
    {% endif %}
    <td><input id="id_price-{{ object.pk }}-total" disabled="true" value="${{ object.total|floatformat:2 }}"></td>
    <td><a href="#" onclick="save_price({{object.pk}}); return false;"><img src="/media/img/save.png"></a></td>
</tr>
