{% extends "inventory/transaction_base.html" %}
{% load i18n %}
{% load tags %}

{% block other_fields_edit %}
    <td><input id="id_transaction-{{ object.pk }}-account" title="{% trans 'Name of vendor' %}"  class="field account lookup vendor" value="{{object.subclass.vendor|default:''}}" type="text"></td>
    
    {% include "inventory/inventory_base.html" %}
    <td><input id="id_transaction-{{ object.pk }}-cost" title="{% trans 'Total cost' %}" class="cost field money" value="{{object.subclass.cost|floatformat:2}}" type="text"></td>
    <td><input id="id_transaction-{{ object.pk }}-tax" title="{% trans 'Total tax' %}" class="tax field money" value="{{object.subclass.tax|neg|floatformat:2}}" type="text"></td>
    <td/><td/>
{% endblock %}
{% block other_actions_edit %}
    <a style="display:none;" class="show" id="id_transaction-{{object.pk}}-return" title="Return Purchase" href="#" onclick="newTransaction('/inventory/purchasereturn/{{object.pk}}/new/'); return false;"><img src="/media/img/return.png"/></a>
    <a style="display:none;" class="show" id="id_transaction-{{object.pk}}-garantee" title="Add Garantee" href="#" onclick="addGarantee({{object.pk}}); return false;"><img src="/media/img/garantee.png"/></a>
{% endblock %}


{% block other_fields_show %}
    <td id="id_transaction-{{ object.pk }}-account" title="{% trans 'Name of vendor' %}"  value="{{object.subclass.vendor|default:''}}" class="field account lookup vendor"><a href="{{object.subclass.vendor.url}}">{{object.subclass.vendor|default:''}}</a></td>
    {% include "inventory/inventory_base.html" %}
    <td id="id_transaction-{{object.pk}}-cost" title="{% trans 'Total cost' %}" value="{{object.subclass.cost|floatformat:2}}"  class="cost field money">    ${{object.subclass.cost|floatformat:2}}</td>
    <td id="id_transaction-{{object.pk}}-tax" title="{% trans 'Total tax' %}" value="{{object.subclass.tax|neg|floatformat:2}}"  class="tax field money">    ${{object.subclass.tax|neg|floatformat:2}}</td>
    <td/><td/>
{% endblock %}
{% block other_actions_show %}
    <a class="show" id="id_transaction-{{object.pk}}-return" title="{% trans 'Return Purchase' %}" href="#" onclick="newTransaction('/inventory/purchasereturn/{{object.pk}}/new/'); return false;"><img src="/media/img/return.png"/></a>
    <a class="show" id="id_transaction-{{object.pk}}-garantee" title="{% trans 'Add Garantee' %}" href="#" onclick="addGarantee({{object.pk}},'vendorgarantee'); return false;"><img src="/media/img/garantee.png"/></a>
    
    {% if object.subclass.delivered %}
        <a class="show" id="id_transaction-{{object.pk}}-undeliver" title="{% trans 'Mark as NOT Delivered' %}" href="#" onclick="markTransaction('/inventory/transaction/{{object.pk}}/undeliver/'); return false;"><img src="/media/img/delivered.png"/></a>
    {% else %}
        <a class="show" id="id_transaction-{{object.pk}}-deliver" title="{% trans 'Mark as Delivered' %}" href="#" onclick="markTransaction('/inventory/transaction/{{object.pk}}/deliver/'); return false;"><img src="/media/img/undelivered.png"/></a>
    {% endif %}
    <a class="show" id="id_transaction-{{object.pk}}-payment" title="{% trans 'Add a Payment' %}" href="#" onclick="newTransaction('/inventory/purchase/{{object.pk}}/pay/'); return false;"><img src="/media/img/money.png"/></a>
{% endblock %}
