{% extends "inventory/transactions.html" %}
{% load i18n %}
{% block heading %}{% trans 'Purchases' %} {% endblock%}
{% block moreactions %}
    <div class="actiontab" ><a onclick="$('#purchase-form').dialog('open');return false;" href="#" class="action">{% trans 'New' %}</a></div>
    {% if q %}<div class="actiontab" ><a href="/inventory/labels/{{q}}.pdf" class="action">{% trans 'Labels' %}</a></div>{% endif %}
    <div class="actiontab" ><a href="/inventory/sales/?{% if q %}q={{q}}&{% endif %}{% if start %}start={{start}}&{% endif %}{% if end %}end={{end}}{% endif %}" class="action">{% trans 'Sales' %}</a></div>
    <div class="actiontab" ><a href="/inventory/counts/?{% if q %}q={{q}}&{% endif %}{% if start %}start={{start}}&{% endif %}{% if end %}end={{end}}{% endif %}" class="action">{% trans 'Counts' %}</a></div>
    <div class="actiontab" ><a href="/inventory/transfers/?{% if q %}q={{q}}&{% endif %}{% if start %}start={{start}}&{% endif %}{% if end %}end={{end}}{% endif %}" class="action">{% trans 'Transfers' %}</a></div>
    <div id="purchase-form" title="{% trans 'Create purchase' %}">
	    <form>
		    {% trans 'Doc Number' %}: <input id="doc_number" value="{{q}}" type="text"> <a href="#" onclick="$(this).prev().val('');return false;"><img id="next_doc_number" src="/media/img/clear.png"/></a><br>
		    {% trans 'Vendor' %}: <input id="vendor" value="{{page.object_list.1.vendor}}" type="text"><br>
		    {% trans 'Item' %}: <input id="item" value="{{page.object_list.1.item}}" type="text"><br>
	    </form>
    </div>
    <script>
        $(document).ready(function(){
            $("#purchase-form").dialog({
			    autoOpen: false,
			    height: 250,
			    width: 250,
			    modal: false,
			    buttons: {
				    Close: function() {
					    $(this).dialog('close');
				    },
			        'Create': function() {
			            newTransaction('/inventory/purchase/new/');
			        }
			    },
		    });
            $('#purchase-form #vendor').autocomplete('/inventory/vendor_list/', {matchSubset:0, autoFill:1,});
            $('#purchase-form #item').autocomplete('/inventory/item_list/', {matchSubset:0, autoFill:1,});
            $('#purchase-form #item').keydown(function(e){
                if (e.keyCode == 13) {
                    newTransaction('/inventory/purchase/new/');
                    e.preventDefault();
                    return false;
                }
            });
        });
    </script>
{% endblock%}
