{% extends "inventory/transaction_base.html" %}
{% load i18n %}
{% block other_fields_edit %}
    <td><input id="id_transaction-{{ object.pk }}-account" class="field account lookup client" title="{% trans 'Name of client' %}" value="{{object.subclass.client|default:''}}" type="text"></td>
    {% include "inventory/inventory_base.html" %}
    <td><input id="id_transaction-{{ object.pk }}-unit_value" class="field money" title="{% trans 'Price per unit' %}" value="{{object.subclass.unit_value|floatformat:2}}" type="text"></td>
{% endblock %}
{% block other_actions_edit %}
    <a class="edit" id="id_transaction-{{object.pk}}-return" title="{% trans 'Return Sale' %}" href="#" onclick="newTransaction('/inventory/salereturn/{{object.pk}}/new/'); return false;"><img src="{{MEDIA_URL}}/img/return.png"/></a>
    <a class="edit" id="id_transaction-{{object.pk}}-garantee" title="{% trans 'Add Garantee' %}" href="#" onclick="addGarantee({{object.pk}},'clientgarantee'); return false;"><img src="{{MEDIA_URL}}/img/garantee.png"/></a>
{% endblock %}
{% block other_fields_show %}
    <td id="id_transaction-{{ object.pk }}-account"  title="{% trans 'Name of client' %}" value="{{object.subclass.client|default:''}}" class="field account lookup client" label=""><a href="{{object.subclass.client.url}}">{{object.subclass.client|default:''}}</a></td>
    {% include "inventory/inventory_base.html" %}
    <td id="id_transaction-{{object.pk}}-unit_value" totalvalue="{{object.subclass.value|floatformat:2}}" title="{% trans 'Total value' %}"   value="{{object.subclass.unit_value|floatformat:2}}"    class="value field money" label="Price">${{object.subclass.value|floatformat:2}}</td>
{% endblock %}
{% block other_actions_show %}
    <a class="edit" style="display:none;" id="id_transaction-{{object.pk}}-return" title="{% trans 'Return Sale' %}" href="#" onclick="newTransaction('/inventory/salereturn/{{object.pk}}/new/'); return false;"><img src="{{MEDIA_URL}}/img/return.png"/></a>
    <a class="edit" style="display:none;" id="id_transaction-{{object.pk}}-garantee" title="{% trans 'Add Garantee' %}" href="#" onclick="addGarantee({{object.pk}},'clientgarantee'); return false;"><img src="{{MEDIA_URL}}/img/garantee.png"/></a>
    {% if object.subclass.delivered %}
        <a class="show" id="id_transaction-{{object.pk}}-undeliver" title="{% trans 'Mark as NOT Delivered' %}" href="#" onclick="markTransaction('/inventory/transaction/{{object.pk}}/undeliver/'); return false;"><img src="{{MEDIA_URL}}/img/delivered.png"/></a>
    {% else %}
        <a class="show" id="id_transaction-{{object.pk}}-deliver" title="{% trans 'Mark as Delivered' %}" href="#" onclick="markTransaction('/inventory/transaction/{{object.pk}}/deliver/'); return false;"><img src="{{MEDIA_URL}}/img/undelivered.png"/></a>
    {% endif %}
    <a class="show" id="id_transaction-{{object.pk}}-payment" title="{% trans 'Add a Payment' %}" href="#" onclick="newTransaction('/inventory/sale/{{object.pk}}/pay/'); return false;"><img src="{{MEDIA_URL}}/img/money.png"/></a>
    <a class="show" id="id_transaction-{{object.pk}}-print" title="{% trans 'Print Receipt' %}" href="/inventory/sale/{{object.doc_number}}/receipt.pdf"><img src="{{MEDIA_URL}}/img/print.png"/></a>
{% endblock %}
