{% extends "inventory/transaction_base.html" %}
{% load i18n %}

{% block other_fields_edit %}
    <td><input id="id_transaction-{{ object.pk }}-account" class="field account lookup client" title="{% trans 'Name of client' %}" value="{{object.subclass.client|default:''}}" type="text"></td>
    {% include "inventory/inventory_base.html" %}
    <td><input id="id_transaction-{{ object.pk }}-unit_value" class="field money" title="{% trans 'Price per unit' %}" value="{{object.subclass.unit_value|floatformat:2}}" type="text"></td>
{% endblock %}
{% block other_fields_show %}
    <td id="id_transaction-{{ object.pk }}-account"  value="{{object.subclass.client|default:''}}" title="{% trans 'Name of client' %}" class="field account lookup client"><a href="{{object.subclass.client.url}}">{{object.subclass.client|default:''}}</a></td>
    {% include "inventory/inventory_base.html" %}
    <td id="id_transaction-{{object.pk}}-unit_value"    value="{{object.subclass.unit_value|floatformat:2}}" title="{% trans 'Total value' %}"    class="field money">    ${{object.subclass.value|floatformat:2}}</td>
{% endblock %}
