{% extends "inventory/transactions.html" %}
{% load i18n %}
{% block heading %}{% trans 'Sales' %} {% endblock%}
{% block moreactions %}
    {% if perms.inventory.add_sale %}<div class="actiontab" ><a onclick="$('#sale-form').dialog('open');return false;" href="#" class="action">{% trans 'New' %}</a></div>{% endif %}  
    {% if q %}
    {% else %}
        <div class="actiontab" ><a href="#" onclick="newTransaction('/inventory/transactions/close/');" class="action">{% trans 'Close' %}</a></div>
        <div class="actiontab" ><a href="/inventory/transactions/closure.pdf?{% if q %}q={{q}}&{% endif %}{% if start %}start={{start}}&{% endif %}{% if end %}end={{end}}{% endif %}" class="action">{% trans 'Corte' %}</a></div>
    {% endif %}    
    {% if perms.inventory.view_purchase %}<div class="actiontab" ><a href="/inventory/purchases/?{% if q %}q={{q}}&{% endif %}{% if start %}start={{start}}&{% endif %}{% if end %}end={{end}}{% endif %}" class="action">{% trans 'Purchases' %}</a></div>{% endif %}
    {% if perms.inventory.view_count %}<div class="actiontab" ><a href="/inventory/counts/?{% if q %}q={{q}}&{% endif %}{% if start %}start={{start}}&{% endif %}{% if end %}end={{end}}{% endif %}" class="action">{% trans 'Counts' %}</a></div>{% endif %}
    {% if perms.inventory.view_transfer %}<div class="actiontab" ><a href="/inventory/transfers/?{% if q %}q={{q}}&{% endif %}{% if start %}start={{start}}&{% endif %}{% if end %}end={{end}}{% endif %}" class="action">{% trans 'Transfers' %}</a></div>{% endif %}
        {% if perms.inventory.view_equity %}<div class="actiontab" ><a href="/inventory/equity_list/?{% if q %}q={{q}}&{% endif %}{% if start %}start={{start}}&{% endif %}{% if end %}end={{end}}{% endif %}" class="action">{% trans 'Equity' %}</a></div>{% endif %}
    <div id="sale-form" title="{% trans 'Create sale' %}">
	    <form>
		    {% trans 'Doc Number' %}: <input id="doc_number" value="{{q}}" type="text"> <a href="#" onclick="$(this).prev().val('');$(this).prev().select();return false;"><img id="next_doc_number" src="{{MEDIA_URL}}/img/clear.png"/></a><a href="/manual/sales/#creating-a-sale"><img src="{{MEDIA_URL}}/img/help.png"/></a><br>
		    {% trans 'Client' %}: <input id="client" value="{{page.object_list.1.client}}" type="text"><br>
		    {% trans 'Item' %}: <input id="item" value="{{page.object_list.1.item}}" type="text"><a href="#" onclick="$(this).prev().val('');$(this).prev().select();return false;"><img id="clear_product" src="{{MEDIA_URL}}/img/clear.png"/></a><br>
	    </form>
    </div>
    <script>
        $(document).ready(function(){
            $("#sale-form").dialog({
			    autoOpen: false,
			    height: 250,
			    width: 250,
			    modal: false,
			    position:['right','bottom'],
			    buttons: {
				    Close: function() {
					    $(this).dialog('close');
				    },
			        'Create': function() {
			            newTransaction('/inventory/sale/new/');
			        }
			    },
		    });
            $('#sale-form #client').autocomplete('/inventory/client_list/', {matchSubset:0, autoFill:1,});
            $('#sale-form #item').autocomplete('/inventory/item_list/', {matchSubset:0, autoFill:1,});
            $('#sale-form #item').keydown(function(e){
                if (e.keyCode == 13) {
                    newTransaction('/inventory/sale/new/');
                    e.preventDefault();
                    return false;
                }
            });
        });
    </script>
{% endblock%}
