{% load i18n %}
{% load tags %}
{% with object.get_tipo_display|lower as tipo %}
<tr id="transaction-{{object.pk}}" class="transaction" transaction_id={{object.pk}} tipo={{object.tipo|lower}}>
{% if edit_mode %}
    <td><input id="id_transaction-{{object.pk}}-doc_number" title="{% trans 'Document Number' %}" class="field doc_number" value="{{object.doc_number}}" type="text"></td>
    <td><a title="{% trans 'Type' %}" id="id_transaction-{{object.pk}}-tipo">{{object.get_tipo_display}}</a></td>
    <td><input id="id_transaction-{{object.pk}}-date" title="{% trans 'Date' %}" class="field date" value="{{object.date|date:"m/d/Y"}}" type="text"></td>
    {% block other_fields_edit %}{% endblock %}
    <td>
        <a class="show" style="display:none;" id="id_transaction-{{object.pk}}-edit" href="#" title="{% trans 'Edit Sale' %}" onclick="editTransaction({{object.pk}}); return false;"><img src="{{MEDIA_URL}}/img/edit.png"/></a>
        {% block edit_save_link %}<a class="edit save" id="id_transaction-{{object.pk}}-save" title="{% trans 'Save Changes' %}" href="#" onclick="saveTransaction({{object.pk}}, '/inventory/{{object.tipo|lower}}/{{object.pk}}/');$('.quantity:first').select(); return false;"><img src="{{MEDIA_URL}}/img/save.png"/></a>{% endblock %}
        <a id="show_entries_link_{{object.pk}}" title="{% trans 'Show Entries' %}" onclick="show_entries({{object.pk}});return false;" href="#"><img src="{{MEDIA_URL}}/img/list.png"/></a><a style="display: none;" title="{% trans 'Hide Entries' %}" id="hide_entries_link_{{object.pk}}" onclick="hide_entries({{object.pk}});return false;" href="#"><img src="{{MEDIA_URL}}/img/hide_list.png"/></a>
        <a onclick="deleteTransaction({{object.pk}}); return false;" href="#" title="{% trans 'Delete Sale' %}" id="id_transaction-{{object.pk}}-delete" style=""><img src="{{MEDIA_URL}}/img/trash.png"/></a>
        {% block other_actions_edit %}{% endblock %}
    </td>
{% else %}
    <td id="id_transaction-{{object.pk}}-doc_number" title="{% trans 'Document Number' %}" value="{{object.doc_number}}" class="field doc_number"><a  href="{{object.subclass.url}}{% if tipo == "Sale" %}&tipo=Sale{% endif %}{% if tipo == "Purchase" %}&tipo=Purchase{% endif %}{% if tipo == "Count" %}&tipo=Count{% endif %}">{{object.doc_number}}</a></td>
    <td id="id_transaction-{{object.pk}}-tipo" title="{% trans 'Type' %}" >{{object.get_tipo_display}}</td>
    <td id="id_transaction-{{object.pk}}-date" title="{% trans 'Date' %}" value="{{object.date|date:"m/d/Y"}}" class="field date">{{object.date|date:"m/d/Y"}}</td>
    {% if tipo == "sale" %}
        <td id="id_transaction-{{object.pk}}-account"  title="{% trans 'Name of client' %}" value="{{object.subclass.client|default:''}}" class="field account lookup client"><a href="{{object.subclass.client.url}}">{{object.subclass.client|default:''}}</a></td>
        <td id="id_transaction-{{object.pk}}-item"   title="{% trans 'Name of item' %}" value="{{object.subclass.item|default:''}}" class="field item lookup" class="inventory-details">{% if object.subclass.item %}<a href="{{object.subclass.item.url}}">{{object.subclass.item}}</a>{% endif %}</td>
        <td id="id_transaction-{{object.pk}}-quantity" title="{% trans 'Quantity of item' %}" value="{{object.subclass.quantity|floatformat:-2}}" class="field quantity inventory-details"> {{object.subclass.quantity|floatformat:-2}}</td>
        <td id="id_transaction-{{object.pk}}-serial"   title="{% trans 'Serial number of item (if applicable)' %}"          value="{{object.subclass.serial|default:''}}"                      class="field serial inventory-details">{% if object.subclass.serial %}<a href="/inventory/serial/{{object.subclass.serial}}/">{{object.subclass.serial}}</a>{% endif %}</td>
        {% if perms.inventory.can_view_costs %}
            <td id="id_transaction-{{object.pk}}-unit_cost" totalvalue="{{object.subclass.cost|floatformat:2}}" title="{% trans 'Total cost' %}" value="{{object.subclass.unit_cost|floatformat:2}}"  class="cost field money">    ${{object.subclass.cost|floatformat:2}}</td>
        {% else %}
            <input type="hidden" value="">
        {% endif %}
        <td id="id_transaction-{{object.pk}}-unit_tax" totalvalue="{{object.subclass.tax|floatformat:2}}" title="{% trans 'Total tax' %}" value="{{object.subclass.unit_tax|floatformat:2}}"  class="tax field money">    ${{object.subclass.tax|floatformat:2}}</td>
        <td id="id_transaction-{{object.pk}}-unit_discount" totalvalue="{{object.subclass.discount|floatformat:2}}" title="{% trans 'Total discount' %}" value="{{object.subclass.unit_discount|floatformat:2}}" class="discount field money"> ${{object.subclass.discount|floatformat:2}}</td>
        <td id="id_transaction-{{object.pk}}-unit_price" totalvalue="{{object.subclass.price|floatformat:2}}" title="{% trans 'Total price' %}"   value="{{object.subclass.unit_price|floatformat:2}}"    class="price field money">    ${{object.subclass.price|floatformat:2}}</td>
    {% endif %}
    {% if tipo == "purchase" %}
        <td id="id_transaction-{{object.pk}}-account" title="{% trans 'Name of vendor' %}"  value="{{object.subclass.vendor|default:''}}" class="field account lookup vendor"><a href="{{object.subclass.vendor.url}}">{{object.subclass.vendor|default:''}}</a></td>
        <td id="id_transaction-{{object.pk}}-item"   title="{% trans 'Name of item' %}" value="{{object.subclass.item|default:''}}" class="field item lookup" class="inventory-details">{% if object.subclass.item %}<a href="{{object.subclass.item.url}}">{{object.subclass.item}}</a>{% endif %}</td>
        <td id="id_transaction-{{object.pk}}-quantity" title="{% trans 'Quantity of item' %}" value="{{object.subclass.quantity|floatformat:-2}}" class="field quantity inventory-details"> {{object.subclass.quantity|floatformat:-2}}</td>
        <td id="id_transaction-{{object.pk}}-serial"   title="{% trans 'Serial number of item (if applicable)' %}"          value="{{object.subclass.serial|default:''}}"                      class="field serial inventory-details">{% if object.subclass.serial %}<a href="/inventory/serial/{{object.subclass.serial}}/">{{object.subclass.serial}}</a>{% endif %}</td>
        <td id="id_transaction-{{object.pk}}-cost" title="{% trans 'Total cost' %}" value="{{object.subclass.cost|floatformat:2}}"  class="cost field money">    ${{object.subclass.cost|floatformat:2}}</td>
        <td id="id_transaction-{{object.pk}}-tax" title="{% trans 'Total tax' %}" value="{{object.subclass.tax|neg|floatformat:2}}"  class="tax field money">    ${{object.subclass.tax|neg|floatformat:2}}</td>
        <td/><td/>
    {% endif %}
    {% if tipo == "count" %}
        <td/>
        <td id="id_transaction-{{object.pk}}-item"  title="{% trans 'Name of item counted' %}"   value="{{object.subclass.item|default:''}}"    class="field item lookup" class="inventory-details">{% if object.subclass.item %}<a href="{{object.subclass.item.url}}">{% endif %}{{object.subclass.item|default:''}}</a></td>
        <td id="id_transaction-{{object.pk}}-quantity" title="{% trans 'Adjustment applied (Quantity counted)' %}"  value="{{object.subclass.count|floatformat:-2}}" class="field quantity inventory-details"> {{object.subclass.quantity|floatformat:-2}} {% if object.subclass.count %}({{object.subclass.count|floatformat:-2}}){% endif %}</td>
        <td id="id_transaction-{{object.pk}}-serial" title="{% trans 'Serial number found (if applicable)' %}"    value="{{object.subclass.serial|default:''}}"  class="field serial inventory-details">{% if object.subclass.serial %}<a href="/inventory/serial/{{object.subclass.serial}}/">{{object.subclass.serial}}</a>{% endif %}</td>
        <td id="id_transaction-{{object.pk}}-cost" title="{% trans 'Cost of adjustment applied (Value per unit)' %}" value="{{object.subclass.unit_cost|floatformat:2}}"  class="field money">    ${{object.value|default:0|floatformat:2}} (${{object.subclass.unit_cost|floatformat:2}} {% trans 'ea.' %})</td>
        <td/><td/><td/>
    {% endif %}
    {% if tipo == "clientgarantee" %}
        <td id="id_transaction-{{object.pk}}-account" title="{% trans 'Name of client' %}"      value="{{object.subclass.client|default:''}}"                     class="field account lookup client" ><a href="{{object.subclass.client.url}}">{{object.subclass.client|default:''}}</a></td>
        <td id="id_transaction-{{object.pk}}-item"   title="{% trans 'Name of item' %}"          value="{{object.subclass.item|default:''}}"                        class="field item lookup" class="inventory-details">{% if object.subclass.item %}<a href="{{object.subclass.item.url}}">{{object.subclass.item}}</a>{% endif %}</td>
        <td id="id_transaction-{{object.pk}}-quantity" title="{% trans 'Quantity of item' %}"          value="{{object.subclass.quantity|floatformat:-2}}"     class="field quantity inventory-details"> {{object.subclass.quantity|floatformat:-2}}</td>
        <td id="id_transaction-{{object.pk}}-serial"   title="{% trans 'Serial number of item (if applicable)' %}"          value="{{object.subclass.serial|default:''}}"                      class="field serial inventory-details">{% if object.subclass.serial %}<a href="/inventory/serial/{{object.subclass.serial}}/">{{object.subclass.serial}}</a>{% endif %}</td>
        <td/><td/><td/>
        <td id="id_transaction-{{object.pk}}-value" title="{% trans 'Price of garantee' %}"             value="{{object.price|floatformat:2}}"                  class="field money">    ${{object.subclass.price|floatformat:2}}</td>
    {% endif %}
    {% if tipo == "clientpayment" %}
        <td><a id="id_transaction-{{object.pk}}-account" title="{% trans 'Name of client' %}"      value="{{object.subclass.source|default:''}}"                     class="field client account lookup" href="{{object.subclass.source.url}}">{{object.subclass.source|default:''}}</a></td>
        <td/><td/><td/><td/><td/><td/>
        <td id="id_transaction-{{object.pk}}-value"   title="{% trans 'Amount paid' %}"           value="{{object.subclass.value|floatformat:2}}"                  class="field money">    ${{object.subclass.value|floatformat:2}}</td>
    {% endif %}
    {% if tipo == "purchasereturn" %}
        <td id="id_transaction-{{object.pk}}-account"  value="{{object.subclass.vendor|default:''}}" class="field account lookup vendor"><a href="{{object.subclass.vendor.url}}">{{object.subclass.vendor|default:''}}</a></td>
        <td id="id_transaction-{{object.pk}}-item"   title="{% trans 'Name of item' %}" value="{{object.subclass.item|default:''}}" class="field item lookup" class="inventory-details">{% if object.subclass.item %}<a href="{{object.subclass.item.url}}">{{object.subclass.item}}</a>{% endif %}</td>
        <td id="id_transaction-{{object.pk}}-quantity" title="{% trans 'Quantity of item' %}" value="{{object.subclass.quantity|floatformat:-2}}" class="field quantity inventory-details"> {{object.subclass.quantity|floatformat:-2}}</td>
        <td id="id_transaction-{{object.pk}}-serial"   title="{% trans 'Serial number of item (if applicable)' %}"          value="{{object.subclass.serial|default:''}}"                      class="field serial inventory-details">{% if object.subclass.serial %}<a href="/inventory/serial/{{object.subclass.serial}}/">{{object.subclass.serial}}</a>{% endif %}</td>
        <td id="id_transaction-{{object.pk}}-cost" value="{{object.subclass.cost|floatformat:2}}"  class="field money">    ${{object.subclass.cost|floatformat:2}}</td>
        <td/><td/><td/>
    {% endif %}
    {% if tipo == "salereturn" %}
        <td id="id_transaction-{{object.pk}}-account"  value="{{object.subclass.client|default:''}}" title="{% trans 'Name of client' %}" class="field account lookup client"><a href="{{object.subclass.client.url}}">{{object.subclass.client|default:''}}</a></td>
        <td id="id_transaction-{{object.pk}}-item"   title="{% trans 'Name of item' %}" value="{{object.subclass.item|default:''}}" class="field item lookup" class="inventory-details">{% if object.subclass.item %}<a href="{{object.subclass.item.url}}">{{object.subclass.item}}</a>{% endif %}</td>
        <td id="id_transaction-{{object.pk}}-quantity" title="{% trans 'Quantity of item' %}" value="{{object.subclass.quantity|floatformat:-2}}" class="field quantity inventory-details"> {{object.subclass.quantity|floatformat:-2}}</td>
        <td id="id_transaction-{{object.pk}}-serial"   title="{% trans 'Serial number of item (if applicable)' %}"          value="{{object.subclass.serial|default:''}}"                      class="field serial inventory-details">{% if object.subclass.serial %}<a href="/inventory/serial/{{object.subclass.serial}}/">{{object.subclass.serial}}</a>{% endif %}</td>
        <td id="id_transaction-{{object.pk}}-unit_cost"  value="{{object.subclass.unit_cost|floatformat:2}}"  title="{% trans 'Total cost' %}" class="field money">    ${{object.subclass.cost|floatformat:2}}</td>
        <td id="id_transaction-{{object.pk}}-unit_tax"  value="{{object.subclass.unit_tax|floatformat:2}}"  title="{% trans 'Total tax' %}" class="field money">    ${{object.subclass.tax|floatformat:2}}</td>
        <td id="id_transaction-{{object.pk}}-unit_discount" value="{{object.subclass.unit_discount|floatformat:2}}" title="{% trans 'Total discount' %}" class="field money"> ${{object.subclass.discount|floatformat:2}}</td>
        <td id="id_transaction-{{object.pk}}-unit_price"    value="{{object.subclass.unit_price|floatformat:2}}" title="{% trans 'Total price' %}"    class="field money">    ${{object.subclass.price|floatformat:2}}</td>
    {% endif %}
    {% if tipo == "transfer" %}
        <td id="id_transaction-{{object.pk}}-account" title="{% trans 'Name of account' %}"  value="{{object.subclass.account.name|default:''}}" class="field account lookup account"><a href="{{object.subclass.account.url}}">{{object.subclass.account.name|default:''}}</a></td>
        <td id="id_transaction-{{object.pk}}-item"   title="{% trans 'Name of item' %}"          value="{{object.subclass.item|default:''}}"                        class="field item lookup" class="inventory-details">{% if object.subclass.item %}<a href="{{object.subclass.item.url}}">{{object.subclass.item}}</a>{% endif %}</td>
        <td id="id_transaction-{{object.pk}}-quantity" title="{% trans 'Quantity of item' %}"          value="{{object.subclass.quantity|floatformat:-2}}"     class="field quantity inventory-details"> {{object.subclass.quantity|floatformat:-2}}</td>
        <td id="id_transaction-{{object.pk}}-serial"   title="{% trans 'Serial number of item (if applicable)' %}"          value="{{object.subclass.serial|default:''}}"                      class="field serial inventory-details">{% if object.subclass.serial %}<a href="/inventory/serial/{{object.subclass.serial}}/">{{object.subclass.serial}}</a>{% endif %}</td>
        <td id="id_transaction-{{object.pk}}-cost" title="{% trans 'Total cost' %}" value="{{object.subclass.cost|floatformat:2}}"  class="cost field money">    ${{object.subclass.cost|floatformat:2}}</td>
        <td/><td/><td/>
    {% endif %}
    {% if tipo == "vendorgarantee" %}
        <td id="id_transaction-{{ object.pk }}-account"      value="{{object.subclass.vendor|default:''}}"                     class="field account lookup vendor" ><a href="{{object.subclass.vendor.url}}">{{object.subclass.vendor|default:''}}</a></td>
        <td id="id_transaction-{{object.pk}}-item"   title="{% trans 'Name of item' %}"          value="{{object.subclass.item|default:''}}"                        class="field item lookup" class="inventory-details">{% if object.subclass.item %}<a href="{{object.subclass.item.url}}">{{object.subclass.item}}</a>{% endif %}</td>
        <td id="id_transaction-{{object.pk}}-quantity" title="{% trans 'Quantity of item' %}"          value="{{object.subclass.quantity|floatformat:-2}}"     class="field quantity inventory-details"> {{object.subclass.quantity|floatformat:-2}}</td>
        <td id="id_transaction-{{object.pk}}-serial"   title="{% trans 'Serial number of item (if applicable)' %}"          value="{{object.subclass.serial|default:''}}"                      class="field serial inventory-details">{% if object.subclass.serial %}<a href="/inventory/serial/{{object.subclass.serial}}/">{{object.subclass.serial}}</a>{% endif %}</td>
        <td id="id_transaction-{{object.pk}}-value"             value="{{object.price|floatformat:2}}"                  class="field money">    ${{object.subclass.price|floatformat:2}}</td>
        <td/><td/><td/>
    {% endif %}
    {% if tipo == "vendorpayment" %}
        <td><a id="id_transaction-{{ object.pk }}-account"      value="{{object.subclass.dest|default:''}}"                     class="field account lookup vendor" href="{{object.subclass.dest.url}}">{{object.subclass.dest|default:''}}</a></td>
        <td/><td/><td/>
        <td id="id_transaction-{{object.pk}}-value"             value="{{object.subclass.value|floatformat:2}}"                  class="field money">    {% trans '$' %}{{object.subclass.value|floatformat:2}}</td>
        <td/><td/><td/>
    {% endif %}  
    <td>
        <a class="show" id="id_transaction-{{object.pk}}-edit" href="#" title="{% trans 'Edit Sale' %}" onclick="editTransaction({{object.pk}}); return false;"><img src="{{MEDIA_URL}}/img/edit.png"/></a>
        {% block show_save_link %}<a class="edit save" style="display:none;" id="id_transaction-{{object.pk}}-save" title="{% trans 'Save Changes' %}" href="#" onclick="saveTransaction({{object.pk}}, '/inventory/{{object.tipo|lower}}/{{object.pk}}/');$('#item.ac_input').select(); return false;"><img src="{{MEDIA_URL}}/img/save.png"/></a>{% endblock %}
        <a class="edit" style="display:none;" id="id_transaction-{{object.pk}}-cancel" title="{% trans 'Cancel Changes' %}" href="#" onclick="cancelTransaction({{object.pk}}); return false;"><img src="{{MEDIA_URL}}/img/cancel.png"/></a>
        {% if object.subclass.active %}
            <a class="show" id="id_transaction-{{object.pk}}-deactivate" title="{% trans 'Mark as Inactive' %}" href="#" onclick="markTransaction('/inventory/transaction/{{object.pk}}/deactivate/'); return false;"><img src="{{MEDIA_URL}}/img/on.png"/></a>
        {% else %}
            <a class="show" id="id_transaction-{{object.pk}}-activate" title="{% trans 'Mark as Active' %}" href="#" onclick="markTransaction('/inventory/transaction/{{object.pk}}/activate/'); return false;"><img src="{{MEDIA_URL}}/img/off.png"/></a>
        {% endif %}
        <a id="show_entries_link_{{object.pk}}" title="{% trans 'Show Entries' %}" onclick="show_entries({{object.pk}});return false;" href="#"><img src="{{MEDIA_URL}}/img/list.png"/></a><a style="display: none;" title="{% trans 'Edit Sale' %}" id="hide_entries_link_{{object.pk}}" onclick="hide_entries({{object.pk}});return false;" href="#"><img src="{{MEDIA_URL}}/img/hide_list.png"/></a>
        <a onclick="deleteTransaction({{object.pk}}); return false;" href="#" title="{% trans 'Delete Sale' %}" id="id_transaction-{{object.pk}}-delete" style=""><img src="{{MEDIA_URL}}/img/trash.png"/></a>
        {% block other_actions_show %}{% endblock %}
    </td>
{% endif %}
</tr>
{% endwith %}

