{% load i18n %}
<tr id="transaction-{{ object.pk }}" class="transaction" transaction_id={{object.pk}} tipo={{object.tipo|lower}}>
{% if object.edit_mode %}
    <td><input id="id_transaction-{{object.pk}}-doc_number" title="{% trans 'Document Number' %}" class="field doc_number" value="{{object.doc_number}}" type="text"></td>
    <td><a title="{% trans 'Type' %}" id="id_transaction-{{object.pk}}-tipo">{% trans object.tipo %}</a></td>
    <td><input id="id_transaction-{{object.pk}}-date" title="{% trans 'Date' %}" class="field date" value="{{object.date|date:date_format}}" type="text"></td>
    {% block other_fields_edit %}{% endblock %}
    <td>
        <a class="show" style="display:none;" id="id_transaction-{{object.pk}}-editxxx" href="#" title="{% trans 'Edit Sale' %}" onclick="editTransaction({{object.pk}}); return false;"><img src="{{MEDIA_URL}}/img/edit.png"/></a>
        {% block edit_save_link %}<a class="edit save" id="id_transaction-{{object.pk}}-savexxx" title="{% trans 'Save Changes' %}" href="#" onclick="saveTransaction({{object.pk}}, '/inventory/{{object.tipo|lower}}/{{object.pk}}/');$('.quantity:first').select(); return false;"><img src="{{MEDIA_URL}}/img/save.png"/></a>{% endblock %}
        <a id="show_entries_link_{{object.pk}}" title="{% trans 'Show Entries' %}" onclick="show_entries({{object.pk}});return false;" href="#"><img src="{{MEDIA_URL}}/img/list.png"/></a><a style="display: none;" title="{% trans 'Hide Entries' %}" id="hide_entries_link_{{object.pk}}" onclick="hide_entries({{object.pk}});return false;" href="#"><img src="{{MEDIA_URL}}/img/hide_list.png"/></a>
        <a onclick="deleteTransaction({{ object.pk }}); return false;" href="#" title="{% trans 'Delete Sale' %}" id="id_transaction-{{ object.pk }}-delete" style=""><img src="{{MEDIA_URL}}/img/trash.png"/></a>
        {% block other_actions_edit %}{% endblock %}
    </td>
{% else %}
    <td id="id_transaction-{{ object.pk }}-doc_number" title="{% trans 'Document Number' %}" value="{{object.doc_number}}" class="field doc_number" label=""><a  href="{{object.subclass.url}}{% if tipo == "Sale" %}&tipo=Sale{% endif %}{% if tipo == "Purchase" %}&tipo=Purchase{% endif %}{% if tipo == "Count" %}&tipo=Count{% endif %}">{{object.doc_number}}</a></td>
    <td id="id_transaction-{{ object.pk }}-tipo" title="{% trans 'Type' %}"  label="">{% trans object.get_tipo_display %}</td>
    <td id="id_transaction-{{object.pk}}-date" title="{% trans 'Date' %}" value="{{object.date|date:date_format}}" class="field date" label="">{{object.date|date:date_format}}</td>
    {% block other_fields_show %}{% endblock %}
    <td>
        <a class="show" id="id_transaction-{{object.pk}}-edit" href="#" title="{% trans 'Edit Sale' %}" onclick="editTransaction({{object.pk}}); return false;"><img src="{{MEDIA_URL}}/img/edit.png"/></a>
        {% block show_save_link %}<a class="edit save" style="display:none;" id="id_transaction-{{object.pk}}-save" title="{% trans 'Save Changes' %}" href="#" onclick="saveTransaction({{object.pk}}, '/inventory/{{object.tipo|lower}}/{{object.pk}}/');$('#item.ac_input').select(); return false;"><img src="{{MEDIA_URL}}/img/save.png"/></a>{% endblock %}
        <a class="edit" style="display:none;" id="id_transaction-{{object.pk}}-cancel" title="{% trans 'Cancel Changes' %}" href="#" onclick="cancelTransaction({{object.pk}}); return false;"><img src="{{MEDIA_URL}}/img/cancel.png"/></a>
        {% if object.subclass.active %}
            <a class="show" id="id_transaction-{{object.pk}}-deactivate" title="{% trans 'Mark as Inactive' %}" href="#" onclick="markTransaction('/inventory/transaction/{{object.pk}}/deactivate/'); return false;"><img src="{{MEDIA_URL}}/img/on.png"/></a>
        {% else %}
            <a class="show" id="id_transaction-{{object.pk}}-activate" title="{% trans 'Mark as Active' %}" href="#" onclick="markTransaction('/inventory/transaction/{{object.pk}}/activate/'); return false;"><img src="{{MEDIA_URL}}/img/off.png"/></a>
        {% endif %}
        <a id="show_entries_link_{{object.pk}}" title="{% trans 'Show Entries' %}" onclick="show_entries({{object.pk}});return false;" href="#"><img src="{{MEDIA_URL}}/img/list.png"/></a><a style="display: none;" title="{% trans 'Edit Sale' %}" id="hide_entries_link_{{object.pk}}" onclick="hide_entries({{object.pk}});return false;" href="#"><img src="{{MEDIA_URL}}/img/hide_list.png"/></a>
        <a onclick="deleteTransaction({{ object.pk }}); return false;" href="#" title="{% trans 'Delete Sale' %}" id="id_transaction-{{ object.pk }}-delete" style=""><img src="{{MEDIA_URL}}/img/trash.png"/></a>
        {% block other_actions_show %}{% endblock %}
    </td>
{% endif %}
</tr>
