{% extends "inventory/index.html" %}
{% load i18n %}

{% load tags %}
{% block js %}
    <script type="text/javascript" src="{{MEDIA_URL}}/js/jade.js"></script> 
{% endblock %}
{% block actions %}
    {% block moreactions %}
        <div class="actiontab" ><a onclick="$('#accounting-form').dialog('open');return false;" href="#" class="action">{% trans 'New' %}</a></div>
        <div class="actiontab" ><a href="/inventory/sales/?{% if q %}q={{q}}&{% endif %}{% if start %}start={{start}}&{% endif %}{% if end %}end={{end}}{% endif %}" class="action">{% trans 'Sales' %}</a></div>
        <div class="actiontab" ><a href="/inventory/purchases/?{% if q %}q={{q}}&{% endif %}{% if start %}start={{start}}&{% endif %}{% if end %}end={{end}}{% endif %}" class="action">{% trans 'Purchases' %}</a></div>
        <div class="actiontab" ><a href="/inventory/counts/?{% if q %}q={{q}}&{% endif %}{% if start %}start={{start}}&{% endif %}{% if end %}end={{end}}{% endif %}" class="action">{% trans 'Counts' %}</a></div>
        <div class="actiontab" ><a href="/inventory/transfers/?{% if q %}q={{q}}&{% endif %}{% if start %}start={{start}}&{% endif %}{% if end %}end={{end}}{% endif %}" class="action">{% trans 'Transfers' %}</a></div>
    {% endblock%}
    <div class="actiontab" ><a href="/inventory/transactions/movements.pdf?{% if q %}q={{q}}&{% endif %}{% if start %}start={{start}}&{% endif %}{% if end %}end={{end}}{% endif %}" class="action">{% trans 'Inventory' %}</a></div>
    <div id="accounting-form" title="{% trans 'Create simple transaction' %}">
	    <form>
		    {% trans 'Doc Number' %}: <input id="doc_number" value="{{q}}" type="text"> <a href="#" onclick="$(this).prev().val('');$(this).prev().select();return false;"><img id="next_doc_number" src="{{MEDIA_URL}}/img/clear.png"/></a><br>
		    {% trans 'Debit Account' %}: <input id="debit-account" value="" type="text"><br>
		    {% trans 'Credit Account' %}: <input id="credit-account" value="" type="text"><br>
		    {% trans 'Value' %}: <input id="item" value="" type="text"><a href="#" onclick="$(this).prev().val('');$(this).prev().select();return false;"><img id="clear_value" src="{{MEDIA_URL}}/img/clear.png"/></a><br>
	    </form>
    </div>
    <script>
        $(document).ready(function(){
            $("#accounting-form").dialog({
			    autoOpen: false,
			    height: 280,
			    width: 250,
			    modal: false,
			    buttons: {
				    Close: function() {
					    $(this).dialog('close');
				    },
			        'Create': function() {
			            newTransaction('/inventory/accounting/new/');
			        }
			    },
		    });
            $('#accounting-form #debit-account').autocomplete('/inventory/account_list/', {matchSubset:0, autoFill:1,});
            $('#accounting-form #credit-account').autocomplete('/inventory/account_list/', {matchSubset:0, autoFill:1,});
            $('#accounting-form #value').keydown(function(e){
                if (e.keyCode == 13) {
                    newTransaction('/inventory/accounting/new/');
                    e.preventDefault();
                    return false;
                }
            });
        });
    </script>
{% endblock%}

{% block heading %}{% trans 'Transactions' %} {% endblock%}
{% block pre-table %}

    
    {% if q %}
        <div id="totals">
            <h2>Totals:</h2>
            {% if charge %}
                <div id="charge" class="five-column">{% trans 'Charge' %}: ${{charge|floatformat:2}}</div>
            {% endif %}
            {% if tax %}
                <div id="tax" class="five-column">{% trans 'Tax' %}: ${{tax|floatformat:2}}</div>
            {% endif %}
            {% if discount %}
                <div id="discount" class="five-column">{% trans 'Discount' %}: ${{discount|floatformat:2}}</div>
            {% endif %}
            {% if price %}
                <div id="price" class="five-column">{% trans 'Revenue' %}: ${{price|floatformat:2}}</div>
            {% endif %}
            {% if cost %}
                <div id="cost" class="five-column">{% trans 'Cost' %}: ${{cost|floatformat:2}}</div>
            {% endif %}
            <hr>
            <div class="clear-contentunit"></div>
        </div>
    {% endif %}
    
{% endblock%}
{% block table_hegader %}
    <th>{% trans 'Number' %}</th>
    <th>{% trans 'Type' %}</th>
    <th>{% trans 'Date' %}</th>
    <th>{% trans 'Account' %}</th>
    <th>{% trans 'Item' %}</th>
    <th>{% trans 'Quantity' %}</th>
    <th>{% trans 'Serial' %}</th>
    {% if perms.inventory.view_cost %}
        <th  class="cost sale-details">{% trans 'Cost' %}</th>
    {% endif %}
    <th  class="tax sale-details">{% trans 'Tax' %}</th>
    <th  class="discount sale-details">{% trans 'Discount' %}</th>
    <th  class="price sale-details">{% trans 'Price' %}</th>
<!--    <th  class="garantee-details">Garantee</th>-->
<!--    <th  class="garantee-details">Duration</th>-->
    <th>{% trans 'Actions' %}</th>
    <input type="hidden" id="last_id" value="">
{% endblock%}
{% block line %}
    {% with object.subclass.tipo as tipo %}
        {% include object.subclass.template %}
    {% endwith %}
{% endblock%}



