{% extends "inventory/transaction_base.html" %}
{% load i18n %}
{% load tags %}

{% block other_fields_edit %}
    <td><input id="id_transaction-{{ object.pk }}-account" title="{% trans 'Name of account' %}"  class="field account lookup account" value="{{object.subclass.account|default:''}}" type="text"></td>
    <td><input id="id_transaction-{{ object.pk }}-item" title="{% trans 'Name of item' %}" class="field item lookup" value="{{object.subclass.item|default:''}}" type="text"></td>
    <td><input id="id_transaction-{{ object.pk }}-quantity" title="{% trans 'Quantity of item' %}" class="field quantity inventory-details" value="{{object.subclass.quantity|floatformat:-2}}" type="text"></td>
    <td><input id="id_transaction-{{ object.pk }}-serial" title="{% trans 'Serial number of item (if applicable)' %}" class="field serial inventory-details" value="{{object.subclass.serial|default:''}}" type="text"></td>
    <td><input id="id_transaction-{{ object.pk }}-cost" title="{% trans 'Total cost' %}" class="cost field money" value="{{object.subclass.cost|floatformat:2}}" type="text"></td>
    <td/><td/><td/>
{% endblock %}
{% block other_actions_edit %}
    <a style="display:none;" class="show" id="id_transaction-{{object.pk}}-return" title="Return Purchase" href="#" onclick="newTransaction('/inventory/purchasereturn/{{object.pk}}/new/'); return false;"><img src="/media/img/return.png"/></a>    
{% endblock %}


{% block other_fields_show %}
    <td id="id_transaction-{{ object.pk }}-account" title="{% trans 'Name of account' %}"  value="{{object.subclass.account|default:''}}" class="field account lookup account"><a href="{{object.subclass.account.url}}">{{object.subclass.account|default:''}}</a></td>
    <td id="id_transaction-{{ object.pk }}-item"   title="{% trans 'Name of item' %}"          value="{{object.subclass.item|default:''}}"                        class="field item lookup" class="inventory-details">{% if object.subclass.item %}<a href="{{object.subclass.item.url}}">{{object.subclass.item}}</a>{% endif %}</td>
    <td id="id_transaction-{{object.pk}}-quantity" title="{% trans 'Quantity of item' %}"          value="{{object.subclass.quantity|floatformat:-2}}"     class="field quantity inventory-details"> {{object.subclass.quantity|floatformat:-2}}</td>
    <td id="id_transaction-{{object.pk}}-serial"   title="{% trans 'Serial number of item (if applicable)' %}"          value="{{object.subclass.serial|default:''}}"                      class="field serial inventory-details">{% if object.subclass.serial %}<a href="/inventory/serial/{{object.subclass.serial}}/">{{object.subclass.serial}}</a>{% endif %}</td>
    <td id="id_transaction-{{object.pk}}-cost" title="{% trans 'Total cost' %}" value="{{object.subclass.cost|floatformat:2}}"  class="cost field money">    ${{object.subclass.cost|floatformat:2}}</td>
    <td/>
    <td/><td/>
{% endblock %}
{% block other_actions_show %}
    <a class="show" id="id_transaction-{{object.pk}}-return" title="{% trans 'Return transfer' %}" href="#" onclick="newTransaction('/inventory/purchasereturn/{{object.pk}}/new/'); return false;"><img src="/media/img/return.png"/></a>
    {% if object.subclass.delivered %}
        <a class="show" id="id_transaction-{{object.pk}}-undeliver" title="{% trans 'Mark as NOT Delivered' %}" href="#" onclick="markTransaction('/inventory/transaction/{{object.pk}}/undeliver/'); return false;"><img src="/media/img/delivered.png"/></a>
    {% else %}
        <a class="show" id="id_transaction-{{object.pk}}-deliver" title="{% trans 'Mark as Delivered' %}" href="#" onclick="markTransaction('/inventory/transaction/{{object.pk}}/deliver/'); return false;"><img src="/media/img/undelivered.png"/></a>
    {% endif %}    
{% endblock %}
