{% load i18n %}
<tr id="transaction-{{ object.pk }}" class="transaction" transaction_id={{object.pk}} tipo={{object.tipo|lower}}>
{% if edit_mode %}
    <td><input id="id_transaction-{{object.pk}}-doc_number" class="field doc_number" value="{{object.doc_number}}" type="text"></td>
    <td><a id="id_transaction-{{object.pk}}-tipo">{{object.get_tipo_display}}</a></td>
    <td/>
    <td/>
    <td><input id="id_transaction-{{ object.pk }}-item" class="field item lookup" value="{{object.subclass.item|default:''}}" type="text"></td>
    <td><input id="id_transaction-{{ object.pk }}-quantity" class="field quantity inventory-details" value="{{object.subclass.quantity|floatformat:-2}}" type="text"></td>
    <td/>
    <td><input id="id_transaction-{{ object.pk }}-cost" title="{% trans 'Only used with positive quantities. Portion of total cost applied to this item' %}" class="field money lookup" value="{{object.subclass.cost|floatformat:2}}" type="text"></td>
    <td/><td/><td/>
    <td>
        <a class="show" style="display:none;" id="id_transaction-{{object.pk}}-edit" href="#" title="{% trans 'Edit Sale' %}" onclick="editTransaction({{object.pk}}); return false;"><img src="/media/img/edit.png"/></a>
        <a class="edit save" id="id_transaction-{{object.pk}}-save" title="{% trans 'Save Changes' %}" href="#" onclick="saveTransaction({{object.pk}}, '/production/{{object.tipo|lower}}/{{object.pk}}/');$('.quantity:first').select(); return false;"><img src="/media/img/save.png"/></a>
        <a id="show_entries_link_{{object.pk}}" title="{% trans 'Show Entries' %}" onclick="show_entries({{object.pk}});return false;" href="#"><img src="/media/img/list.png"/></a><a style="display: none;" title="{% trans 'Hide Entries' %}" id="hide_entries_link_{{object.pk}}" onclick="hide_entries({{object.pk}});return false;" href="#"><img src="/media/img/hide_list.png"/></a>
        <a onclick="deleteTransaction({{ object.pk }}); return false;" href="#" title="{% trans 'Delete Sale' %}" id="id_transaction-{{ object.pk }}-delete" style=""><img src="/media/img/trash.png"/></a>
        {% block other_actions_edit %}{% endblock %}
    </td>
{% else %}
    <td id="id_transaction-{{ object.pk }}-doc_number" value="{{object.doc_number}}" class="field doc_number"><a  href="{{object.subclass.url}}">{{object.doc_number}}</a></td>
    <td id="id_transaction-{{ object.pk }}-tipo">{{object.get_tipo_display}}</td>
    <td/>
    <td/>
    <td id="id_transaction-{{ object.pk }}-item"            value="{{object.subclass.item|default:''}}"                        class="field item lookup" class="inventory-details">{% if object.subclass.item %}<a href="{{object.subclass.item.url}}">{{object.subclass.item}}</a>{% endif %}</td>
    <td id="id_transaction-{{object.pk}}-quantity"          value="{{object.subclass.quantity|floatformat:-2}}"     class="field quantity inventory-details"> {{object.subclass.quantity|floatformat:-2}}</td>
    <td/>
    <td id="id_transaction-{{object.pk}}-cost" title="{% trans 'Only used with positive quantities. Portion of total cost applied to this item' %}" value="{{object.subclass.cost|floatformat:2}}"  class="cost field money">    {{object.subclass.cost|floatformat:2}}</td>
    <td/><td/><td/>
    <td>
        <a class="show" id="id_transaction-{{object.pk}}-edit" href="#" title="{% trans 'Edit Sale' %}" onclick="editTransaction({{object.pk}}); return false;"><img src="/media/img/edit.png"/></a>
        <a class="edit save" style="display:none;" id="id_transaction-{{object.pk}}-save" title="{% trans 'Save Changes' %}" href="#" onclick="saveTransaction({{object.pk}}, '/production/{{object.tipo|lower}}/{{object.pk}}/');$('.quantity:first').select(); return false;"><img src="/media/img/save.png"/></a>
        <a class="edit" style="display:none;" id="id_transaction-{{object.pk}}-cancel" title="{% trans 'Cancel Changes' %}" href="#" onclick="cancelTransaction({{object.pk}}); return false;"><img src="/media/img/cancel.png"/></a>
        <a id="show_entries_link_{{object.pk}}" title="{% trans 'Show Entries' %}" onclick="show_entries({{object.pk}});return false;" href="#"><img src="/media/img/list.png"/></a><a style="display: none;" title="{% trans 'Edit Sale' %}" id="hide_entries_link_{{object.pk}}" onclick="hide_entries({{object.pk}});return false;" href="#"><img src="/media/img/hide_list.png"/></a>
        <a onclick="deleteTransaction({{ object.pk }}); return false;" href="#" title="{% trans 'Delete Sale' %}" id="id_transaction-{{ object.pk }}-delete" style=""><img src="/media/img/trash.png"/></a>
        {% block other_actions_show %}{% endblock %}
    </td>
{% endif %}
</tr>
